<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
        <%= name %> Welcom to Resonance-2k23
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<body style="background-image: url(./assets/images/y2mate.com\ -\ Star\ background_1080p.gif); position: center;">


    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/index" class="logo d-flex align-items-center">
                <h1><img src="./assets/images/Resonance 2023 White.png" alt=""></h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a href="/"><img src="./assets/images/logo/Home.png" alt="" width="70px"></a>
                    </li>
                    <li>
                        <a href="/about"><img src="./assets/images/logo/About.png" alt="" width="70px"></a>
                    </li>
                    <li>
                        <a href="/event"><img src="./assets/images/logo/Events.png" alt="" width="70px"></a>
                    </li>
                    <li>
                        <a href="/team"><img src="./assets/images/logo/team .png" alt="" width="70px"></a>
                    </li>
                    <li>
                        <a href="/contact"><img src="./assets/images/logo/contact.png" alt="" width="70px"></a>
                    </li>
                    <li>
                        <a href="/sponsorship"><img src="./assets/images/logo/Spon.png" alt="" width="120px"></a>
                    </li>
                    <li>
                        <a href="#" class="active"><img src="./assets/images/logo/Profile.png" alt="" width="120px"></a>
                    </li>
                </ul>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/Layer 1.png" alt="Profile" class="rounded-circle">
                        <h2>
                            <%= name %>
                        </h2>
                        <span>
                            <%= resoid%>
                        </span>


                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" style="color: black;"><b>Overview</b></button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= name %>
                                            <%=last%>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email Id </div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= email %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Registration Number(Student)/Block(Faculty) </div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= regi %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Branch(Student)/Designation(Faculty)</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= branch %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"> Year(Student)/Department(Faculty)</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= year %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Registration Number</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%=regi %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Resonance id</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= resoid %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">House Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        <%= house %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Go to Event page</div>
                                    <div class="col-lg-9 col-md-8">
                                        <a href="/event" style="color: black;" align="center">
                                            <h3>Go to Event Registration page</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"></div>
                                    <div class="col-lg-9 col-md-8">
                                        <a href="/event" style="color: black;" align="center">
                                            <h3></h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9 col-md-8">
                                        <a href="/logout" style="color: black;" align="center">
                                            <h3>Logout</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
        </div>

    </section>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer " class="footer ">

        <div class="footer-legal text-center position-relative ">
            <div class="container ">
                <div class="copyright ">
                    &copy; Copyright <strong><span>JIET, JODHPUR </span></strong>. All Rights Reserved
                </div>
                <div class="credits ">
                    Designed by <a href="https://www.linkedin.com/in/devesh-vyas-pareek/ ">DEVESH VYAS</a> With help by
                    <a href="https://www.jietjodhpur.ac.in/student-corner/student-council ">Student Council</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main1.js"></script>

</body>

</html>